.section-signup{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-signup {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-card {
    width: 100%;
    max-width: 600px;

    background: #f5f5f5;
    padding: 3rem;
    border-radius: 1.5rem;
    text-align: center;
    position: relative;
}
.signup-card h1 {
    margin-bottom: 1rem;
}
.signup-text {
    font-size: 0.9rem;
    color:#666;
    margin-bottom: 2rem;
}
.social-login {
    width: 45px;
    height: 45px;
}
.social-login i {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: white;

    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.divider {
  margin: 2rem 0;
  font-size: 0.8rem;
  color: #999;
}
.signup-form {
  text-align: left;

}

.signup-form input {
  width: 100%;
  margin: 0.5rem 0 1.5rem;
  padding: 0.8rem;

  border-radius: 0.5rem;
  border: 1px solid #ddd;
}
.signup-form .btn {
  width: 100%;
}


.note {
  text-align: center;
  font-size: 0.8rem;
  color: #888;
  margin-top: 1rem;
}