header{
    background-color: #27252f;
    color: white;
}

.header-upper-section
{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 2rem;
}

.menu
{
    display: flex;
    gap: 20px;
}

.header-lower-section{
    display: flex;
    padding: 4rem 2rem 0;
    justify-content: space-between;

}

.header-left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 623px;
    border: 1px solid red;
    justify-content: space-evenly;
}